# GWAS data preprocess
Only has isID, instead of chromosome and genetic positions.

Data download [link](http://portals.broadinstitute.org/collaboration/giant/index.php/GIANT_consortium_data_files#GWAS_Anthropometric_2014_Height)

Also use this [link](https://stackoverflow.com/questions/20251612/map-snp-ids-to-genome-coordinates) to transfer rsID to chr and pos.

In [1]:
import pandas as pd, numpy as np
import re
import os
from scipy.stats import norm
from collections import Counter
cwd = os.path.expanduser("~/Documents/GWAS_ATAC")
deci = 4

In [2]:
height1 = pd.read_table(f"{cwd}/GWAS_data/height/GIANT_HEIGHT_Wood_et_al_2014_publicrelease_HapMapCeuFreq.txt.gz", compression = "gzip", header = 0, usecols = [0,1,2,3,4,5,6])

In [3]:
height1.head()

  MarkerName Allele1 Allele2  ...         b      SE      p
0  rs4747841       A       G  ...   -0.0011  0.0029  0.700
1  rs4749917       T       C  ...    0.0011  0.0029  0.700
2   rs737656       A       G  ...   -0.0062  0.0030  0.042
3   rs737657       A       G  ...   -0.0062  0.0030  0.041
4  rs7086391       T       C  ...   -0.0087  0.0038  0.024

[5 rows x 7 columns]

In [4]:
height1.shape

(2550858, 7)

## snpid (rsID) map

In [8]:
hg19 = list()
for i in range(22):
    tmp = pd.read_table(f"{cwd}/rsID/hg37/1000G.EUR.QC.{i+1}.bim", header = None, 
                        usecols = [0,1,3,4,5], names = ["chr", "MarkerName", "pos", "A1", "A2"])
    hg19.append(tmp)
hg19 = pd.concat(hg19)

In [9]:
hg19.head()

   chr   MarkerName    pos A1 A2
0    1  rs575272151  11008  G  C
1    1  rs544419019  11012  G  C
2    1  rs540538026  13110  A  G
3    1   rs62635286  13116  G  T
4    1  rs200579949  13118  G  A

In [10]:
hg19.shape

(9997231, 5)

In [11]:
height = pd.merge(height1, hg19, how = "inner", on = "MarkerName")

In [13]:
height.shape

(2484282, 11)

In [14]:
height["chr"] = height["chr"].astype(int)
height["pos"] = height["pos"].astype(int)

In [15]:
set(height["chr"])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22}

In [16]:
2550858-2484282

66576

In [17]:
height = height.sort_values(by = ["chr", "pos"])

In [23]:
height["cons"] = height.apply(lambda row: "Y" if set([row["Allele1"], row["Allele2"]]) == set([row["A1"], row["A2"]]) else "N", axis = 1)

In [26]:
from collections import Counter
Counter(height["cons"])

Counter({'Y': 2483798, 'N': 484})

In [28]:
height[height["cons"] == "N"].head()

        MarkerName Allele1 Allele2  ...   A1  A2  cons
992707   rs1886730       A       G  ...    C   T     N
992701   rs2257763       T       G  ...    A   C     N
992700   rs2281852       T       G  ...    A   C     N
992699   rs2234161       A       G  ...    T   C     N
992692  rs11573989       A       G  ...    T   C     N

[5 rows x 12 columns]

In [29]:
height[height["cons"] == "N"].shape

(484, 12)

In [32]:
height["id"] = [f"{x}:{y}:{a1}:{a2}" for x, y, a1, a2 in zip(height["chr"], height["pos"], height["Allele1"], height["Allele2"])]
height["chrom"] = [f"chr{chrom}" for chrom in height["chr"]]
height["end"] = [bp + 1 for bp in height["pos"]]

In [33]:
height["z"] = height.apply(lambda row: np.around(row["b"] / row["SE"], deci), axis = 1)

In [35]:
height.head()

         MarkerName Allele1 Allele2   ...    chrom     end       z
1033345  rs12565286       C       G   ...     chr1  721291 -0.5071
1033597  rs11804171       A       T   ...     chr1  723820 -0.6357
1033601   rs2977670       C       G   ...     chr1  723892  0.3467
1036243   rs3094315       A       G   ...     chr1  752567  0.7736
1036308   rs2073813       A       G   ...     chr1  753542 -0.4096

[5 rows x 16 columns]

In [37]:
height[["chrom", "pos", "end", "id", "chr", "z", "b", "SE"]].to_csv(f"{cwd}/height_zscore/height.zscore.info.gz", compression = "gzip", sep = "\t", header = False, index = False)

In [39]:
height["snpid"] = [f"{chrom}.{bp}" for chrom, bp in zip(height["chrom"], height["pos"])]
height[["snpid", "chr", "pos"]].to_csv(f"{cwd}/height_zscore/smap.gz", compression = "gzip", sep = "\t", header = False, index = False)

## Obtain LD chunk
Calculate ld chunk using `bedtools`
```
cd /home/min/Documents/GWAS_ATAC/height_zscore/
bedtools intersect -wa -wb -a height.zscore.info.gz -b /home/min/Documents/GWAS_ATAC/jeanm/torus/variants/ld_chunk.bed | uniq | awk '{print $4"\t"$12"\t"$6}' | gzip > height.zscore.gz
```

## Enrichment analysis
```
sos run analysis/20180615_Enrichment_Workflows.ipynb range2var_annotation --z-score ~/Documents/GWAS_ATAC/height_zscore/height.zscore.gz --single-annot data/atac_seq.txt
sos run analysis/20180615_Enrichment_Workflows.ipynb enrichment --z-score ~/Documents/GWAS_ATAC/height_zscore/height.zscore.gz --single-annot data/atac_seq.txt
```
```
sos run analysis/20180615_Enrichment_Workflows.ipynb enrichment --z-score ~/Documents/GWAS_ATAC/height_zscore/height.zscore.gz --single-annot data/atac_seq_asca.txt --multi-annot data/multi_annotations2.txt -v3
```
```
sos run analysis/20180615_Enrichment_Workflows.ipynb range2var_annotation --z-score ~/Documents/GWAS_ATAC/height_zscore/height.zscore.gz --single-annot data/general_annotations.txt --multi-annot data/general_annotations.txt -v3
sos run analysis/20180615_Enrichment_Workflows.ipynb enrichment --z-score ~/Documents/GWAS_ATAC/height_zscore/height.zscore.gz --single-annot data/general_annotations.txt --multi-annot data/general_annotations.txt -v3
```